.login-container {
  display: flex;
  flex-direction: column;

  .login-page {
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 60px);

    .login-button {
      position: absolute;
      bottom: 25%;
      left: 50%;
      transform: translateX(-50%);
      padding: 12px 24px;
      border: none;
      border-radius: 14px;
      font-size: 20px;
      font-weight: bold;
      color: #ffffff;
      background-color: rgba(49, 49, 49, 0.8);
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        color: rgb(199, 199, 199);
      }
    }

    .price-button {
      position: absolute;
      bottom: 15%;
      left: 50%;
      transform: translateX(-50%);
      padding: 8px 14px;
      font-size: 18px;
      font-weight: bold;
      color: #0f0f0f;
      border: none;
      border-radius: 30px;
      background-color: rgba(255, 255, 255, 0.3);
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        color: rgb(59, 59, 59);
      }
    }
  }
}
