.navbar {
    background-color: #2c2929;
    align-items: center;
    border-top: none;
    border-bottom: 2px solid #4d4c4c;
    border-left: none;
    border-right: none;
}

.navbar-brand {
    font-size: 28px;
    font-weight: 500;
    color: whitesmoke;
}
