<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="../../assets/notaverse-logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
            Notaverse
        </a>
        <button class="avatar-button" *ngIf="user && userSessionInfo" [matMenuTriggerFor]="beforeMenu">
            <img [src]="userSessionInfo?.user?.profilePhoto" class="rounded-circle" height="35px"/>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button disabled=true class="user-info" mat-menu-item>
                <mat-icon class="" aria-label="ACCOUNT">account_circle</mat-icon>
                <b>{{ userSessionInfo?.user?.displayName }}</b>
                <br/><small>ID:{{ userSessionInfo?.user?.oauthId }}</small>
                <br/><small>{{ userSessionInfo?.user?.email }}</small>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon class="" aria-label="LOGOUT">logout</mat-icon>Logout
            </button>
        </mat-menu>
    </div>
</nav>