<div class="dialog-container">
  <mat-dialog-content>
    <div class="note-header">
      <mat-select
        class="note-img-select"
        [(value)]="note.img_url"
        [style.background-image]="'url(' + img_url_base + note.img_url + ')'"
        single
      >
        <mat-option *ngFor="let element of elements" [value]="element.img_url">
          <img
            [src]="img_url_base + element.img_url"
            [width]="45"
            [height]="45"
          />
        </mat-option>
      </mat-select>
      <input class="note-title" [(ngModel)]="note.title" />
    </div>
    <div>
      <textarea
        class="note-text"
        rows="13"
        [(ngModel)]="note.content"
      ></textarea>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="dialog-actions-position">
    <button mat-button (click)="onSubmit()">Create</button>
    <button mat-button (click)="dialogRef.close()">Cancel</button>
  </mat-dialog-actions>
</div>
