<!DOCTYPE html>
<div>
  <div class="sidebar-container">
    <div class="sidenav-button-grp" autosize>
      <!-- <mat-button-toggle class="sidenav-button" (click)="toggleDrawer('user')" [class.active]="activeTab === 'user'">
        <mat-icon class="icon-display" aria-label="USER">insert_emoticon</mat-icon>
      </mat-button-toggle> -->
      <mat-button-toggle class="sidenav-button" (click)="toggleDrawer('room')" [class.active]="activeTab === 'room'">
        <mat-icon class="icon-display" aria-label="ROOMS">settings_overscan</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle class="sidenav-button" (click)="toggleDrawer('element')" [class.active]="activeTab === 'element'">
        <mat-icon class="icon-display" aria-label="ELEMENTS">extension</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle class="sidenav-button" (click)="toggleDrawer('item')" [class.active]="activeTab === 'item'">
        <mat-icon class="icon-display" aria-label="ITEMS">folder_open</mat-icon>
      </mat-button-toggle>
    </div>

    <mat-drawer-container>
      <mat-drawer class="sidebar" mode="side" [opened]="drawerOpen">
        <app-sidenav-content [activeTab]="activeTab" [id]="id"></app-sidenav-content>
      </mat-drawer>
    </mat-drawer-container>
  </div>
</div>
